.App {
    text-align: center;
  }

  #darkBackground {
    min-height: 100vh;
    height: auto;
    background-color: #272727;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }